APIKEY="<Your Kiwi api key>"
DB_FILENAME="sqlite:///database.db"
DB_DEBUG="false"
SAVEDIR="tmp"
SMTP_SERVER="localhost"
SMTP_PORT="25"
SMTP_FROM="<from>"
SMTP_PSW=""
SMTP_TO="<to>"
APININJASKEY="<Your API Ninjas key>"
LOGOS="webapp/static/logos"
AUTO_CLEANUP="false"