{% extends 'base.html' %}
{% block container %}
        <div class="itineraries-grid">
            <div class="itinerary-card">
                <div class="itinerary-header">
                    <div class="route">{{ itinerary.cityFrom }} → {{ itinerary.cityTo }}</div>
                    <div class="price">{{ itinerary.price|punctuation }} Ft</div>
                </div>

                <div class="itinerary-details">
                    <div class="detail-item">
                        <div class="detail-label">Indulás</div>
                        <div class="detail-value">{{ itinerary.local_departure[:10] }}</div>
                    </div>
                    <div class="detail-item">
                        <div class="detail-label">Eltöltött éjszakák</div>
                        <div class="detail-value">{{ itinerary.nightsInDest }} éjszaka</div>
                    </div>
                    <div class="detail-item">
                        <div class="detail-label">Utazási idő</div>
                        <div class="detail-value">{{itinerary.duration.departure | to_time}}</div>
                    </div>
                    <div class="detail-item">
                        <div class="detail-label">Várakozási idő</div>
                        <div class="detail-value">{{ itinerary.duration.waiting_departure | to_time }}</div>
                    </div>
                </div>

                <div class="flights-section">
                    <div class="flights-header">
                        ✈️ Részletek
                    </div>
                    {% for route in itinerary.route %}
                    <div class="flight-card">
                        <div class="flight-route">
                            <div class="flight-city">{{ route.cityFrom }}</div>
                            <div class="flight-arrow">→</div>
                            <div class="flight-city">{{ route.cityTo }}</div>
                            <!-- image come here -->
                        </div>
                        <div class="flight-details">
                            <div class="flight-detail">
                                <div class="flight-detail-label">Indulás</div>
                                <div class="flight-detail-value">{{ route.local_departure[11:16]}}</div>
                            </div>
                            <div class="flight-detail">
                                <div class="flight-detail-label">Érkezés</div>
                                <div class="flight-detail-value">{{ route.local_arrival[11:16]}}{{ '+1' if route.local_departure[:10]!=route.local_arrival[:10] else '' }}</div>
                            </div>
                            <div class="flight-detail">
                                <div class="flight-detail-label">Járat</div>
                                <div class="flight-detail-value">{{ route.airline }}-{{ route.flight_no }}</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- return -->

                <div class="itinerary-header">
                    <div class="route">{{ itinerary.cityTo }} → {{ itinerary.cityFrom }}</div>
                </div>

                <div class="itinerary-details">
                    <div class="detail-item">
                        <div class="detail-label">Indulás</div>
                        <div class="detail-value">{{ itinerary.rlocal_departure[:10] }}</div>
                    </div>
                    <div class="detail-item">
                        <div class="detail-label"></div>
                        <div class="detail-value"></div>
                    </div>
                    <div class="detail-item">
                        <div class="detail-label">Utazási idő</div>
                        <div class="detail-value">{{itinerary.duration.return | to_time}}</div>
                    </div>
                    <div class="detail-item">
                        <div class="detail-label">Várakozási idő</div>
                        <div class="detail-value">{{ itinerary.duration.waiting_return | to_time }}</div>
                    </div>
                </div>

                <div class="flights-section">
                    <div class="flights-header">
                        ✈️ Részletel
                    </div>
                    {% for route in itinerary.route_return %}
                    <div class="flight-card">
                        <div class="flight-route">
                            <div class="flight-city">{{ route.cityFrom }}</div>
                            <div class="flight-arrow">→</div>
                            <div class="flight-city">{{ route.cityTo }}</div>
                            <!-- image come here -->
                        </div>
                        <div class="flight-details">
                            <div class="flight-detail">
                                <div class="flight-detail-label">Indulás</div>
                                <div class="flight-detail-value">{{ route.local_departure[11:16]}}</div>
                            </div>
                            <div class="flight-detail">
                                <div class="flight-detail-label">Érkezés</div>
                                <div class="flight-detail-value">{{ route.local_arrival[11:16]}}{{ '+1' if route.local_departure[:10]!=route.local_arrival[:10] else '' }}</div>
                            </div>
                            <div class="flight-detail">
                                <div class="flight-detail-label">Járat</div>
                                <div class="flight-detail-value">{{ route.airline }}-{{ route.flight_no }}</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}